@use '../variables/colors'as *;
@use '../variables/layout'as *;

#home {
  display: flex;
  justify-content: space-between;

  aside {
    display: none;

    @media screen and (min-width: $desktop) {
      display: block;
      position: relative;
      width: $aside-width;
      font-size: 8.25vmin;
      font-weight: bold;
      text-align: center;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100vh;
        position: sticky;
        top: $border-width;

        li {
          opacity: 0.3;
          line-height: 0.95;

          &.active {
            opacity: 1;
          }
        }
      }
    }
  }

  main {
    display: block;
    width: 100%;

    @media screen and (min-width: $desktop) {
      width: $main-width;
    }

    section {
      display: block;
      position: relative;

      &:not(.hero) {
        margin-bottom: 60px;

        @media screen and (min-width: $desktop) {
          margin-bottom: $section-y-margin;
        }
      }

      &.hero {
        overflow: hidden;

        .title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 100%;
          height: calc(100vh - 75px); // 75px = mobile navbar

          @media screen and (min-width: $desktop) {
            height: calc(100vh - #{$border-width});
          }

          div {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25%;
            border-bottom: $border;

            @media screen and (min-width: $desktop) {
              height: 33.33%;
            }

            &:nth-child(1) {
              // karly
              font-size: 15vw;

              @media screen and (min-width: $desktop) {
                display: none;
              }
            }

            &:nth-child(2) {
              // developer
              font-size: 21vw;

              @media screen and (min-width: $desktop) {
                font-size: 15.25vw;
              }
            }

            &:nth-child(3) {
              // year
              position: relative;
              font-size: 17vw;
              overflow: hidden;

              @media screen and (min-width: $desktop) {
                font-size: 13vw;
              }

              span {
                white-space: nowrap;
              }
            }

            &:nth-child(4) {
              // portfolio
              font-size: 21vw;

              @media screen and (min-width: $desktop) {
                font-size: 15.6vw;
              }
            }

            // short screens
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              @media screen and (max-height: 650px) {
                font-size: 30vmin;
              }
            }
          }
        }
      }

      &.about {
        border-bottom: $border;

        .intro_text {
          padding: 60px 30px;

          @media screen and (min-width: $desktop) {
            padding: $section-y-margin $section-x-padding;
          }

          p:not(:last-child) {
            margin-bottom: 3vw;
          }

          a {
            text-decoration: underline;
            transition: 200ms ease-in-out 0s;
            transition-property: background-color, color, text-decoration;

            &:hover {
              text-decoration: none;
              background-color: $black;
              color: $white;
            }
          }
        }

        .music {
          h3 {
            text-align: center;
          }

          ul {
            white-space: nowrap;
            overflow: hidden;

            li {
              display: inline-block;
              width: 20vw;
              height: 20vw;
              overflow: hidden;
              margin: 10px 0 10px 10px;
              background-color: $black;

              @media screen and (min-width: $desktop) {
                width: 10vw;
                height: 10vw;
              }
            }
          }
        }
      }

      &.skills {
        .primary {
          display: flex;

          & > div {
            flex: 1 1 50%;

            &:nth-of-type(even) {
              text-align: right;
            }

            ul {
              padding: $section-x-padding;
            }
          }
        }

        .tools h3 {
          text-align: center;
        }
      }

      &.work {
        border-bottom: none;

        .project {
          h3 {
            display: block;
            width: 100%;
            transition: 200ms ease-in-out 0s;
            transition-property: background-color, color;

            &:hover {
              background-color: $black;
              color: $white;
            }
          }

          .tech {
            display: flex;
            align-items: center;
            border-bottom: $border;

            ul {
              transform: translateY(-16%);
              padding-left: 5px;

              li {
                display: inline-block;
                position: relative;
                font-size: 2.7vw;

                @media screen and (min-width: $desktop) {
                  font-size: 1.6vw;
                }

                &:not(:last-of-type) {
                  margin-right: 1vw;

                  @media screen and (min-width: $desktop) {
                    margin-right: 0.5vw;
                  }

                  &::after {
                    content: " • ";
                  }
                }
              }
            }
          }

          .demo {
            padding: $section-x-padding;

            .temp {
              display: block;
              width: 100%;
              height: 25vw;
              background-color: $black;
            }
          }
        }

        .more .sm_text {
          font-size: 3.7vw;
          font-weight: bold;

          @media screen and (min-width: $desktop) {
            font-size: 2.75vw;
          }
        }
      }

      &.contact {
        min-height: 50vh; // in order to trigger nav menu change
      }
    }
  }
}