@use '../variables/layout' as *;

.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 1rem;
  z-index: 1;

  .col_left,
  .col_right {
    width: 50%;
    border-top: $border;
    margin-bottom: 65px; // mobile navbar 
    padding: 15px 5px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  .col_left {

    @media screen and (min-width: $desktop) {
      width: $aside-width;
      text-align: center;
    }
  }

  .col_right {
    text-align: right;

    @media screen and (min-width: $desktop) {
      width: $main-width;
    }
  }
}