.wrapper {
  display: block;
  position: relative;
  overflow: hidden;

  &.center {
    text-align: center;
  }

  .content {
    display: block;
    position: relative;
    transform: translateY(120%);
  }
}