.container {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;

  .wrapper {
    display: block;
    position: relative;
    transform: translateX(-50%);
    white-space: nowrap;

    .item {
      display: inline-block;
      vertical-align: middle;
      will-change: transform, left;
    }
  }
}