@use '../variables/colors' as *;
@use '../variables/layout' as *;

.navigation {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border: $border;
  background-color: $white;
  z-index: 2;

  @media screen and (min-width: $desktop) {
    top: 0;
    left: calc(#{$aside-width} + #{$border-width});
    right: auto;
    width: $nav-width;
  }

  nav {
    height: 100%;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;

      @media screen and (min-width: $desktop) {
        flex-direction: column;
        height: 100%;
      }

      li {
        display: block;
        border-radius: 1px;
        font-size: 5vw;
        text-align: center;
        padding: 1.25vh 2vw 1vh;

        @media screen and (min-width: $desktop) {
          width: 100%;
          font-size: 1.1vw;
          padding: 1vh 0;
        }

        &.active {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}