@use 'variables/colors';
@use 'variables/fonts';
@use 'variables/layout';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: colors.$black;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  position: relative;
  background-color: colors.$white;
  color: colors.$black;
  font-family: fonts.$fjalla-one;
  font-size: 3vw;
  line-height: 1;
  margin: 0;
  padding: layout.$border-width;
  
  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: layout.$border;
    pointer-events: none;
    z-index: 3;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h3, .h3, h4 {
  font-weight: normal;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 7.75vw;
  line-height: 0.75;
  padding-top: 0.525vw;
  border-top: layout.$border;
  border-bottom: layout.$border;

  .lower {
    font-size: 7vw;
    text-transform: none;
  }
}

h4 {
  font-size: 3.5vw;
}

p {
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    flex: 1 1 50%;
    text-align: center;
    border-bottom: layout.$border;

    &:nth-of-type(odd) {
      border-right: layout.$border;
    }

    a {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      transition: 200ms ease-in-out 0s;
      transition-property: background-color, color;
      padding: layout.$section-x-padding;

      &:hover {
        background-color: colors.$black;
        color: colors.$white;
      }
    }
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
