@use 'variables/colors' as *;
@use 'variables/fonts' as *;
@use 'variables/layout' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: $black;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  position: relative;
  background-color: $white;
  color: $black;
  font-family: $fjalla-one;
  font-size: 22px;
  line-height: 1;
  margin: 0;
  padding: $border-width;

  @media screen and (min-width: $desktop) {
    font-size: 3vw;
  }
  
  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: $border;
    pointer-events: none;
    z-index: 3;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h3, .h3 {
  position: relative;
  font-size: 11vw;
  line-height: 1.45;
  font-weight: normal;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: $border-width;
    background-color: $black;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  .lower {
    font-size: 9.5vw;
    text-transform: none;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1;
    font-size: 7.75vw;

    .lower {
      font-size: 7vw;
    }
  }
}

p {
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    flex: 1 1 50%;
    text-align: center;
    border-bottom: $border;

    &:nth-of-type(odd) {
      border-right: $border;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      width: 100%;
      transition: 200ms ease-in-out 0s;
      transition-property: background-color, color;
      padding: $section-x-padding;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}

.d-mobile {
  display: block;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.d-desktop {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
